
/*#region WORKSANS */ 
@mixin font-worksans-thin{
    font-family: $font-family-worksans;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-worksans-extralight{
    font-family: $font-family-worksans;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-worksans-light{
    font-family: $font-family-worksans;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-worksans-regular{
    font-family: $font-family-worksans;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-worksans-medium{
    font-family: $font-family-worksans;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-worksans-semibold{
    font-family: $font-family-worksans;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-worksans-bold{
    font-family: $font-family-worksans;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-worksans-extrabold{
    font-family: $font-family-worksans;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-worksans-black{
    font-family: $font-family-worksans;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*#endregion */


/* #region ROBOTO */
@mixin font-roboto-thin{
    font-family: $font-family-roboto;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-roboto-light{
    font-family: $font-family-roboto;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-roboto-regular{
    font-family: $font-family-roboto;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-roboto-medium{
    font-family: $font-family-roboto;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-roboto-bold{
    font-family: $font-family-roboto;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-roboto-black{
    font-family: $font-family-roboto;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* #endregion */


/* #region ROBOTO-MONO */
@mixin font-roboto-mono-thin{
    font-family: $font-family-roboto-mono;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-roboto-mono-light{
    font-family: $font-family-roboto-mono;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-roboto-mono-regular{
    font-family: $font-family-roboto-mono;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-roboto-mono-medium{
    font-family: $font-family-roboto-mono;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-roboto-mono-bold{
    font-family: $font-family-roboto-mono;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-roboto-mono-black{
    font-family: $font-family-roboto-mono;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* #endregion */


@mixin font-yellowtail-regular{
    font-family: $font-family-yellowtail;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-yellowtail-regular-smooth{
    font-family: $font-family-yellowtail;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-robotomono-bold{
    font-family: $font-family-roboto-mono;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-roboto-bold{
    font-family: $font-family-roboto;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

