
$color-black: #15182C;
$color-grey: #868AA3;
$color-light-grey: #E1E2E8;
$color-light-white: #FEF3D9;
$color-light-yellow: #FEF8EA;
$color-white: #ffffff;
$color-teal: #38D6C5;
$color-orange: #FAAD01;
$color-purple: #A1AEFC;
$color-red: #CD5240;
$color-grey-line: #d8d8d8;

// GHA
$color-black-gha: #233250;
$color-teal-gha: #01B8C6;
$color-orange-gha: #FBB018;
$color-purple-gha: #233250;
$color-red-gha: #C8262D;

// GHA
$color-black-gha: #233250;
$color-teal-gha: #01B8C6;
$color-orange-gha: #FBB018;
$color-purple-gha: #233250;
$color-red-gha: #C8262D;

// viva
$color-gold-viva: #c3ab53;
$color-black-viva: #262324;
$color-yellow-viva: #C2A954;


$beach-color: #FEF3DF;
$outdoor-color: #38D6C5;
$culture-color: #A1AEFC;

$color-black-transparent: rgba(21,24,44,0.2);
$color-black-semi-transparent: rgba(21,24,44,0.8);

$color-white-semi-transparent: rgba(255,255,255,0.8);

$font-family-worksans: 'Work Sans', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-roboto-mono: 'Roboto Mono', monospace;
$font-family-yellowtail: 'Yellowtail', cursive;
$font-family-helvetica: Helvetica;

@function get-vw($target) {   $vw-context: (1440 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw; }
@function get-vh($target) {   $vh-context: (800 * 0.01) * 1px;   @return ($target / $vh-context) * 1vh; }


