.add-transaction {
    width: 98%;
    margin: auto;
    background-color: $color-teal;
    padding: get-vw(10px);
    color: $color-white;
    border-radius: 0 0 get-vw(3px) get-vw(3px);

    h2{
        margin-bottom: get-vw(10px);
        font-size: get-vw(15px);
        @include font-robotomono-bold
    }
    
    .create-transaction{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        @media only screen and (max-width: 767px) {
            flex-direction: column;
            align-items: center;
            align-items: inherit;
        }

        .input{
            display: flex;
            flex-direction: column;

            span{
                font-size: get-vw(14px);
                margin-bottom: get-vw(2px);
                @include font-roboto-medium;
            }
        }
    }

    .error-msg{
        text-align: right;
		margin-top: get-vw(4px);
		color: $color-red;
		margin-right: get-vw(83px);
		font-size: get-vw(14px);
    }
}