.listing {
    display: flex;

    border-radius :get-vw(3px) get-vw(3px) 0 0;
    margin-top: get-vw(20px);
    flex-direction: column;
    width: 98%;
    margin: auto;
    margin-bottom: 50px;

    .date-container{
        margin: get-vw(10px);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    }

}