.overview {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius :get-vw(3px) get-vw(3px) 0 0;

    .chart-container{
        width: 98%;
        background-color: $beach-color;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span{
            display: block;
            margin: get-vw(10px);
        }

        .expenses-chart{
            display: block;
            height: get-vw(500px);
            width: 80%;
            margin: 10px 0 20px 0;
        }
        
    }
}